[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist
ignore =
    E501,  # line too long
    ANN101,
    ANN002,
    ANN003,
    R504,
    E401,
    E403,
show-source = true
suppress-none-returning=true
